<!--

<div class="modal fade" id="modificarUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar Usuario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="form-validation">
                            <div class="container-fluid p-0">
                                <form class="needs-validation w-100" method="post" novalidate id="formularioModificarUsuario">
                                    <input type="number" class="form-control" id="idUsuarioModificar" style="visibility: hidden; display: none;">
                                    <div class="mb-3 row">
                                        <label class="col-lg-5 col-form-label" for="nombreUsuarioModificar">
                                            Nombre del usuario
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-7">
                                            <input type="text" class="form-control" id="nombreUsuarioModificar" placeholder="Inserte nombre.." required>
                                            <div class="invalid-feedback">
                                                Porfavor inserte el nombre del usuario.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-lg-5 col-form-label" for="apellidoPaternoUsuarioModificar">
                                            Apellido paterno
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-7">
                                            <input type="text" class="form-control" id="apellidoPaternoUsuarioModificar" placeholder="Inserte apellido paterno.." required>
                                            <div class="invalid-feedback">
                                                Porfavor inserte el apellido paterno.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-lg-5 col-form-label" for="apellidoMaternoUsuarioModificar">
                                            Apellido materno
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-7">
                                            <input type="text" class="form-control" id="apellidoMaternoUsuarioModificar" placeholder="Inserte apellido materno.." required>
                                            <div class="invalid-feedback">
                                                Porfavor inserte el apellido materno.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-lg-5 col-form-label" for="correoUsuarioModificar">
                                            Correo electrónico
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-7">
                                            <input type="email" class="form-control" id="correoUsuarioModificar" placeholder="example@mail.com" required>
                                            <div class="invalid-feedback">
                                                Porfavor inserte el correo electrónico.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-lg-5 col-form-label" for="rolUsuarioModificar">
                                            Rol
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-7">
                                            <select class="form-control" id="rolUsuarioModificar" required>
                                                <option selected disabled value="">Seleccione el rol</option>
                                                <option value="Administrador">Administrador</option>
                                                <option value="Cliente">Cliente</option>
                                            </select>
                                            <div class="invalid-feedback">
                                                Porfavor seleccione el rol.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-12 row">
                                        <div class="col-lg-12">
                                            <button type="submit" class="btn btn-primary py-2 w-100" id="boton_modificarUsuario">Modificar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
