@using System.Globalization
@using Vitaly_Manager.Entidades
@using W3CRM.Controllers
@{
    ViewData["Title"] = "Agregar Servicio";
}
<!--**********************************
	Content body start
***********************************-->

<style>
    .small-margin-bottom {
        margin-bottom: -30px; /* Ajusta el valor según sea necesario */
    }
</style>

<div class="content-body">
    <div class="page-titles">
        <ol class="breadcrumb">
            <li><h5 class="bc-title">Servicio</h5></li>
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "w3crm")">
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.125 6.375L8.5 1.41667L14.875 6.375V14.1667C14.875 14.5424 14.7257 14.9027 14.4601 15.1684C14.1944 15.4341 13.8341 15.5833 13.4583 15.5833H3.54167C3.16594 15.5833 2.80561 15.4341 2.53993 15.1684C2.27426 14.9027 2.125 14.5424 2.125 14.1667V6.375Z" stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M6.375 15.5833V8.5H10.625V15.5833" stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Inicio
                </a>
            </li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Agregar Servicio</a></li>
        </ol>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Nuevo Servicio</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-validation">
                        <div class="container-fluid p-0">
                            <form class="needs-validation w-100" method="post" novalidate id="formularioAgregarServicio">
                                    <div class="mb-3 row">
                                        <label class="col-lg-2 col-form-label" for="nombreServicio">
                                            Nombre del Servicio
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" id="nombreServicio" placeholder="Inserte nombre.." required>
                                            <div class="invalid-feedback">
                                                Porfavor inserte el nombre del servicio.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-lg-2 col-form-label" for="descripcionServicio">
                                            Descripcion
                                        </label>
                                        <div class="col-lg-10">
                                            <textarea class="form-control" id="descripcionServicio" placeholder="Escriba información del servicio..."></textarea>
                                            <div class="invalid-feedback">
                                                Por favor escriba información válida del servicio.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-12 row">
                                        <div class="col-lg-12">
                                            <button type="submit" class="btn btn-primary py-2 w-100" id="boton_agregar">Agregar</button>
                                        </div>
                                    </div>
                                </form>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--**********************************
	Content body end
***********************************-->
@section w3crm_style
	{
    <link href="~/w3crm/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
	<link href="~/w3crm/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">

        <!-- Daterange picker -->
    <link href="~/w3crm/vendor/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Pick date -->
    <link rel="stylesheet" href="~/w3crm/vendor/pickadate/themes/default.css">
    <link rel="stylesheet" href="~/w3crm/vendor/pickadate/themes/default.date.css">
}

@section w3crm_script
	{
	<!--**********************************
		Scripts
	***********************************-->

    <script src="~/w3crm/vendor/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="~/w3crm/js/plugins-init/sweetalert.init.js"></script>
    <script src="~/w3crm/js/styleSwitcher.js"></script>

    <!-- Required vendors -->
    <script src="~/w3crm/vendor/global/global.min.js"></script>
	<script src="~/w3crm/vendor/chart.js/Chart.bundle.min.js"></script>
	<script src="~/w3crm/vendor/tagify/dist/tagify.min.js"></script>

	<!-- Apex Chart -->
	<script src="~/w3crm/vendor/apexchart/apexchart.js"></script>

	<!-- Datatable -->
	<script src="~/w3crm/vendor/datatables/js/jquery.dataTables.min.js"></script>
	<script src="~/w3crm/js/plugins-init/datatables.init.js"></script>
	<script src="~/w3crm/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

     <!-- code-highlight -->
    <script src="~/w3crm/js/highlight.min.js"></script>

    <!-- momment js is must -->
    <script src="~/w3crm/vendor/moment/moment.min.js"></script>
    <script src="~/w3crm/vendor/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- pickdate -->
    <script src="~/w3crm/vendor/pickadate/picker.js"></script>
    <script src="~/w3crm/vendor/pickadate/picker.time.js"></script>
    <script src="~/w3crm/vendor/pickadate/picker.date.js"></script>

     <!-- Pickdate -->
    <script src="~/w3crm/js/plugins-init/pickadate-init.js"></script>
    <script src="~/w3crm/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/w3crm/js/custom.js"></script>
    <script src="~/w3crm/js/deznav-init.js"></script>
    <script src="~/w3crm/js/demo.js"></script>
    <script src="~/w3crm/js/styleSwitcher.js"></script>

    <script src="~/w3crm/js/custom.js"></script>
    <script src="~/w3crm/js/deznav-init.js"></script>
    <script src="~/w3crm/js/demo.js"></script>

    

    <script>
        hljs.highlightAll();
        hljs.configure({ ignoreUnescapedHTML: true })

    </script>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('pre code').forEach((el) => {
                hljs.highlightElement(el);
            });
        });
    </script>

    <script>
        (function () {
            'use strict';

            var form = document.getElementById('formularioAgregarServicio');
            const nombreServ = document.getElementById("nombreServicio");
            const descripcion = document.getElementById("descripcionServicio");

            if (form) {
                form.addEventListener('submit', function (event) {
                    event.preventDefault();

                    nombreServ.classList.remove('is-invalid');
                    descripcion.classList.remove('is-invalid');

                    if (!form.checkValidity()) {
                        event.stopPropagation();
                    } else {
                        $.ajax({
                            url: '/Servicio/AgregarNuevoServicio',
                            type: 'POST',
                            data: {
                                nombre: nombreServ.value,
                                descripcion: descripcion.value
                            },
                            success: function (response) {
                                if (response.success) {
                                    Swal.fire({
                                        icon: 'success',
                                        title: '¡Servicio agregado!',
                                        text: response.message,
                                        confirmButtonText: 'Aceptar'
                                    }).then((result) => {
                                        form.reset();
                                        form.classList.remove('was-validated');
                                    });
                                } else {
                                    if (response.errores.includes("nombre")) {
                                        nombreProducto.classList.add('is-invalid');
                                    }

                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Error',
                                        text: response.message,
                                        confirmButtonText: 'Aceptar'
                                    });
                                }
                            },
                            error: function (error) {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error',
                                    text: 'Hubo un error al comunicarse con el servidor.',
                                    confirmButtonText: 'Aceptar'
                                });
                            }
                        });
                    }

                    form.classList.add('was-validated'); // Aplicar las clases de validación
                }, false);
            }
        })();
    </script>


    <script>
        (function () {
          'use strict'

          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.querySelectorAll('.needs-validation')

          // Loop over them and prevent submission
          Array.prototype.slice.call(forms)
            .forEach(function (form) {
              form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                  event.preventDefault()
                  event.stopPropagation()
                }

                form.classList.add('was-validated')
              }, false)
            })
        })()
    </script>
}
