@using System.Globalization
@using Vitaly_Manager.Entidades
@using W3CRM.Controllers
@{
    ViewData["Title"] = "AgregarLoteProducto";
}
<!--**********************************
	Content body start
***********************************-->

<style>
    .small-margin-bottom {
        margin-bottom: -30px; /* Ajusta el valor según sea necesario */
    }
</style>

<div class="content-body">
    <div class="page-titles">
        <ol class="breadcrumb">
            <li><h5 class="bc-title">Clientes</h5></li>
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "w3crm")">
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.125 6.375L8.5 1.41667L14.875 6.375V14.1667C14.875 14.5424 14.7257 14.9027 14.4601 15.1684C14.1944 15.4341 13.8341 15.5833 13.4583 15.5833H3.54167C3.16594 15.5833 2.80561 15.4341 2.53993 15.1684C2.27426 14.9027 2.125 14.5424 2.125 14.1667V6.375Z" stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M6.375 15.5833V8.5H10.625V15.5833" stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Inicio
                </a>
            </li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Agregar Cliente</a></li>
        </ol>
        <a class="text-primary fs-13" data-bs-toggle="offcanvas" href="#offcanvasExample1" role="button" aria-controls="offcanvasExample1">+ Add Task</a>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Nuevo Cliente</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-validation">
                        <div class="container-fluid p-0">
                                <form class="needs-validation w-100" method="post" novalidate id="formularioAgregarCliente">
                                    <div class="mb-3 row">
                                        <label class="col-lg-2 col-form-label" for="nombreCliente">
                                            Nombre del cliente
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" id="nombreCliente" placeholder="Inserte nombre.." required>
                                            <div class="invalid-feedback">
                                                Porfavor inserte el nombre del cliente.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-lg-2 col-form-label" for="apellidoPaterno">
                                            Apellido paterno
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" id="apellidoPaterno" placeholder="Inserte apellido paterno.." required>
                                            <div class="invalid-feedback">
                                                Porfavor inserte el apellido paterno.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-lg-2 col-form-label" for="apellidoMaterno">
                                            Apellido materno
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" id="apellidoMaterno" placeholder="Inserte apellido materno.." required>
                                            <div class="invalid-feedback">
                                                Porfavor inserte el apellido materno.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-lg-2 col-form-label" for="numeroTelefonico">
                                            Numero telefonico
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" id="numeroTelefonico" placeholder="686-999-0000" required>
                                            <div class="invalid-feedback">
                                                Porfavor inserte el numero telefonico.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-lg-2 col-form-label" for="genero">
                                            Genero
                                        </label>
                                        <div class="col-lg-10">
                                                <select class="wide form-control" id="genero" name="genero">
                                                    <option selected disabled value="" id="Genero_Default">Porfavor seleccione</option>
                                                    <option value="Hombre" id="Genero_Hombre">Hombre</option>
                                                    <option value="Mujer" id="Genero_Mujer">Mujer</option>
                                                    <option value="Otro" id="Genero_Otro">Otro</option>
                                                </select>
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-lg-2 col-form-label" for="contactoAlternativo">
                                            Contacto alternativo
                                        </label>
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control" id="contactoAlternativo" placeholder="Inserte cualquier forma de contacto alternativo..">
                                        </div>
                                    </div>
                                    <div class="mb-3 row">
                                        <label class="col-lg-2 col-form-label" for="edad">
                                            Edad
                                        </label>
                                        <div class="col-lg-10">
                                            <input type="number" class="form-control" id="edad" placeholder="Inserte edad del cliente.." step="1" min="0">
                                        </div>
                                    </div>
                                    <div class="mb-12 row">
                                        <div class="col-lg-12">
                                            <button type="submit" class="btn btn-primary py-2 w-100" id="boton_agregar">Agregar</button>
                                        </div>
                                    </div>
                            </form>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--**********************************
	Content body end
***********************************-->
@section w3crm_style
	{
    <link href="~/w3crm/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
	<link href="~/w3crm/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">

        <!-- Daterange picker -->
    <link href="~/w3crm/vendor/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Pick date -->
    <link rel="stylesheet" href="~/w3crm/vendor/pickadate/themes/default.css">
    <link rel="stylesheet" href="~/w3crm/vendor/pickadate/themes/default.date.css">
}

@section w3crm_script
	{
	<!--**********************************
		Scripts
	***********************************-->

    <script src="~/w3crm/vendor/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="~/w3crm/js/plugins-init/sweetalert.init.js"></script>
    <script src="~/w3crm/js/styleSwitcher.js"></script>

    <!-- Required vendors -->
    <script src="~/w3crm/vendor/global/global.min.js"></script>
	<script src="~/w3crm/vendor/chart.js/Chart.bundle.min.js"></script>
	<script src="~/w3crm/vendor/tagify/dist/tagify.min.js"></script>

	<!-- Apex Chart -->
	<script src="~/w3crm/vendor/apexchart/apexchart.js"></script>

	<!-- Datatable -->
	<script src="~/w3crm/vendor/datatables/js/jquery.dataTables.min.js"></script>
	<script src="~/w3crm/js/plugins-init/datatables.init.js"></script>
	<script src="~/w3crm/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

     <!-- code-highlight -->
    <script src="~/w3crm/js/highlight.min.js"></script>

    <!-- momment js is must -->
    <script src="~/w3crm/vendor/moment/moment.min.js"></script>
    <script src="~/w3crm/vendor/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- pickdate -->
    <script src="~/w3crm/vendor/pickadate/picker.js"></script>
    <script src="~/w3crm/vendor/pickadate/picker.time.js"></script>
    <script src="~/w3crm/vendor/pickadate/picker.date.js"></script>

     <!-- Pickdate -->
    <script src="~/w3crm/js/plugins-init/pickadate-init.js"></script>
    <script src="~/w3crm/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/w3crm/js/custom.js"></script>
    <script src="~/w3crm/js/deznav-init.js"></script>
    <script src="~/w3crm/js/demo.js"></script>
    <script src="~/w3crm/js/styleSwitcher.js"></script>

    <script src="~/w3crm/js/custom.js"></script>
    <script src="~/w3crm/js/deznav-init.js"></script>
    <script src="~/w3crm/js/demo.js"></script>

    

    <script>
        hljs.highlightAll();
        hljs.configure({ ignoreUnescapedHTML: true })

    </script>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('pre code').forEach((el) => {
                hljs.highlightElement(el);
            });
        });
    </script>

    <script>
        (function () {
            'use strict';

            var form = document.getElementById('formularioAgregarCliente');
            const nombreCliente = document.getElementById("nombreCliente");
            const apellidoPaterno = document.getElementById("apellidoPaterno");
            const apellidoMaterno = document.getElementById("apellidoMaterno");
            const numeroTelefonico = document.getElementById("numeroTelefonico");
            const generoCliente = document.getElementById("genero");
            const contactoAlternativoCliente = document.getElementById("contactoAlternativo");
            const edadCliente = document.getElementById("edad");

            if (form) { 
                form.addEventListener('submit', function (event) {
                    event.preventDefault(); 

                    nombreCliente.classList.remove('is-invalid');
                    apellidoPaterno.classList.remove('is-invalid');
                    apellidoMaterno.classList.remove('is-invalid');
                    numeroTelefonico.classList.remove('is-invalid');
                    edadCliente.classList.remove('is-invalid');

                    if (!form.checkValidity()) {
                        event.stopPropagation();
                    } else {
                        $.ajax({
                            url: '/Clientes/AgregarNuevoCliente',
                            type: 'POST',
                            data: {
                                nombre: nombreCliente.value,
                                apellidoP: apellidoPaterno.value,
                                apellidoM: apellidoMaterno.value,
                                telefono: numeroTelefonico.value,
                                genero: generoCliente.value,
                                contactoAlternativo: contactoAlternativoCliente.value,
                                edad: edadCliente.value
                            },
                            success: function (response) {
                                if (response.success) {
                                    Swal.fire({
                                        icon: 'success',
                                        title: '¡Cliente agregado!',
                                        text: response.message,
                                        confirmButtonText: 'Aceptar'
                                    }).then((result) => {
                                        form.reset();
                                        form.classList.remove('was-validated');
                                    });
                                } else {
                                    if (response.errores.includes("telefono")) {
                                        numeroTelefonico.classList.add('is-invalid');
                                    }
                                    if (response.errores.includes("nombre")) {
                                        nombreCliente.classList.add('is-invalid');
                                    }
                                    if (response.errores.includes("paterno")) {
                                        apellidoPaterno.classList.add('is-invalid');
                                    }
                                    if (response.errores.includes("materno")) {
                                        apellidoMaterno.classList.add('is-invalid');
                                    }
                                    if (response.errores.includes("edad")) {
                                        edadCliente.classList.add('is-invalid');
                                    }
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Error',
                                        text: response.message,
                                        confirmButtonText: 'Aceptar'
                                    });
                                }
                            },
                            error: function (error) {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error',
                                    text: 'Hubo un error al comunicarse con el servidor.',
                                    confirmButtonText: 'Aceptar'
                                });
                            }
                        });
                    }

                    form.classList.add('was-validated'); // Aplicar las clases de validación
                }, false);
            }
        })();


        document.getElementById('numeroTelefonico').addEventListener('input', function (e) {
            var value = e.target.value.replace(/[^0-9]/g, '');

            if (value.length > 3) {
                value = value.substring(0, 3) + '-' + value.substring(3);
            }

            if (value.length > 7) {
                value = value.substring(0, 7) + '-' + value.substring(7);
            }

            if (value.length >= 13) {
                value = value.replace(/[-+]/g, '');
                var ultimos4 = value.substring(value.length - 4);
                value = value.substring(0, value.length - 4);
                var ultimos3 = value.substring(value.length - 3);
                value = value.substring(0, value.length - 3);
                var primeros3 = value.substring(value.length - 3);
                value = value.substring(0, value.length - 3);
                value = "+" + value + " " + primeros3 + "-" + ultimos3 + "-" + ultimos4;
            }
            e.target.value = value;
        });
    </script>


    <script>
        (function () {
          'use strict'

          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.querySelectorAll('.needs-validation')

          // Loop over them and prevent submission
          Array.prototype.slice.call(forms)
            .forEach(function (form) {
              form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                  event.preventDefault()
                  event.stopPropagation()
                }

                form.classList.add('was-validated')
              }, false)
            })
        })()
    </script>
}
