<div class="modal fade" id="modificarProveedor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar Proveedor</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="form-validation">
                            <div class="container-fluid p-0">
                                <form class="needs-validation w-100" method="post" novalidate id="formularioModificarProveedor">
                                    <input type="number" class="form-control" id="idProveedorModificar" style="visibility: hidden; display: none;">

                                    <div class="mb-3 row">
                                        <label class="col-lg-5 col-form-label" for="nombreProveedorModificar">
                                            Nombre del proveedor
                                            <span class="text-danger">*</span>
                                        </label>

                                        <div class="col-lg-7">
                                            <input type="text" class="form-control" id="nombreProveedorModificar" placeholder="Inserte nombre.." required>
                                            <div class="invalid-feedback">
                                                Porfavor inserte el nombre del proveedor.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-3 row">
                                        <label class="col-lg-5 col-form-label" for="numeroTelefonicoProveedorModificar">
                                            Numero telefonico
                                            <span class="text-danger">*</span>
                                        </label>

                                        <div class="col-lg-7">
                                            <input type="text" class="form-control" id="numeroTelefonicoProveedorModificar" placeholder="686-999-0000" required>
                                            <div class="invalid-feedback">
                                                Porfavor inserte el numero telefonico.
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mb-3 row">
                                        <label class="col-lg-5 col-form-label" for="contactoAlternativoProveedorModificar">
                                            Contacto alternativo
                                        </label>
                                        <div class="col-lg-7">
                                            <input type="text" class="form-control" id="contactoAlternativoProveedorModificar" placeholder="Inserte cualquier contacto..">
                                        </div>
                                    </div>

                                    <div class="mb-12 row">
                                        <div class="col-lg-12">
                                            <button type="submit" class="btn btn-primary py-2 w-100" id="boton_agregar">Modificar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
