@using System.Globalization
@using Vitaly_Manager.Entidades
@using W3CRM.Controllers
@{
    ViewData["Title"] = "AgregarLoteProducto";
}
<!--**********************************
	Content body start
***********************************-->

<style>
    .small-margin-bottom {
        margin-bottom: -30px; } 
    }
</style>

<div class="content-body">
    <div class="page-titles">
        <ol class="breadcrumb">
            <li><h5 class="bc-title">Productos</h5></li>
            <li class="breadcrumb-item">
                <a href="@Url.Action("Index", "w3crm")">
                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.125 6.375L8.5 1.41667L14.875 6.375V14.1667C14.875 14.5424 14.7257 14.9027 14.4601 15.1684C14.1944 15.4341 13.8341 15.5833 13.4583 15.5833H3.54167C3.16594 15.5833 2.80561 15.4341 2.53993 15.1684C2.27426 14.9027 2.125 14.5424 2.125 14.1667V6.375Z" stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M6.375 15.5833V8.5H10.625V15.5833" stroke="#2C2C2C" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    Inicio
                </a>
            </li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Agregar Proveedores</a></li>
        </ol>
        <a class="text-primary fs-13" data-bs-toggle="offcanvas" href="#offcanvasExample1" role="button" aria-controls="offcanvasExample1">+ Add Task</a>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Nuevos Proveedores</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-validation">
                        <div class="container-fluid p-0">
                                
                            <!--MODIFICAR DESDE AQUI-->

                                    <div class="row">
                                        <!-- Formulario de Nuevo Proveedor -->
                                        <div class="col-12">
                                            <form class="needs-validation" action="/ProductosController/AgregarNuevoLoteProducto" method="post" novalidate id="formularioz">
                                                <input type="hidden" id="formulario_id" name="ID" value="0">

                                                <!-- Campo Nombres -->
                                                <div class="mb-3">
                                                <label class="form-label" for="formulario_nombres">Nombre(s) <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" id="formulario_nombres" placeholder="Nombre completo del proveedor" name="Nombres" required>
                                                </div>

                                                <!-- Campo Teléfono -->
                                                <div class="mb-3">
                                                    <label class="form-label" for="formulario_telefono">Teléfono <span class="text-danger">*</span></label>
                                                    <input type="tel" class="form-control" id="formulario_telefono" placeholder="+52 686-999-999" name="Telefono">
                                                </div>

                                                <!-- Campo Otro medio de contacto -->
                                                <div class="mb-3">
                                                    <label class="form-label" for="formulario_contacto">Otro medio de contacto <span class="text-danger">*</span></label>
                                                    <input type="text" class="form-control" id="formulario_contacto" placeholder="Link o usuario" name="MedioContacto">
                                                </div>

                                                <!-- Botón Guardar -->
                                                <div class="text-center mt-4">
                                                    <button type="submit" class="btn btn-primary w-100 py-2" id="guardar_proveedor">GUARDAR PROVEEDOR</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--**********************************
	Content body end
***********************************-->
@section w3crm_style
	{
    <link href="~/w3crm/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
	<link href="~/w3crm/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">

        <!-- Daterange picker -->
    <link href="~/w3crm/vendor/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

    <!-- Pick date -->
    <link rel="stylesheet" href="~/w3crm/vendor/pickadate/themes/default.css">
    <link rel="stylesheet" href="~/w3crm/vendor/pickadate/themes/default.date.css">
}

@section w3crm_script
	{
	<!--**********************************
		Scripts
	***********************************-->

    <script src="~/w3crm/vendor/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="~/w3crm/js/plugins-init/sweetalert.init.js"></script>
    <script src="~/w3crm/js/styleSwitcher.js"></script>

    <!-- Required vendors -->
    <script src="~/w3crm/vendor/global/global.min.js"></script>
	<script src="~/w3crm/vendor/chart.js/Chart.bundle.min.js"></script>
	<script src="~/w3crm/vendor/tagify/dist/tagify.min.js"></script>

	<!-- Apex Chart -->
	<script src="~/w3crm/vendor/apexchart/apexchart.js"></script>

	<!-- Datatable -->
	<script src="~/w3crm/vendor/datatables/js/jquery.dataTables.min.js"></script>
	<script src="~/w3crm/js/plugins-init/datatables.init.js"></script>
	<script src="~/w3crm/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>

     <!-- code-highlight -->
    <script src="~/w3crm/js/highlight.min.js"></script>

    <!-- momment js is must -->
    <script src="~/w3crm/vendor/moment/moment.min.js"></script>
    <script src="~/w3crm/vendor/bootstrap-daterangepicker/daterangepicker.js"></script>

    <!-- pickdate -->
    <script src="~/w3crm/vendor/pickadate/picker.js"></script>
    <script src="~/w3crm/vendor/pickadate/picker.time.js"></script>
    <script src="~/w3crm/vendor/pickadate/picker.date.js"></script>

     <!-- Pickdate -->
    <script src="~/w3crm/js/plugins-init/pickadate-init.js"></script>
    <script src="~/w3crm/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/w3crm/js/custom.js"></script>
    <script src="~/w3crm/js/deznav-init.js"></script>
    <script src="~/w3crm/js/demo.js"></script>
    <script src="~/w3crm/js/styleSwitcher.js"></script>

    <script src="~/w3crm/js/custom.js"></script>
    <script src="~/w3crm/js/deznav-init.js"></script>
    <script src="~/w3crm/js/demo.js"></script>

    

    <script>
        hljs.highlightAll();
        hljs.configure({ ignoreUnescapedHTML: true })

    </script>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('pre code').forEach((el) => {
                hljs.highlightElement(el);
            });
        });
    </script>

    <script>

        (function () {
            'use strict';

            var forms = document.querySelectorAll('.needs-validation');

            Array.prototype.slice.call(forms).forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    event.preventDefault(); // Prevenir el envío normal del formulario

                    // Obtener los valores dentro del evento submit
                    const nombreProveedor = document.getElementById("formulario_nombres");
                    const telefono = document.getElementById("formulario_telefono");
                    const Altercontacto = document.getElementById("formulario_contacto");

                    if (!form.checkValidity()) {
                        event.stopPropagation();
                    } else {
                        $.ajax({
                            url: '/Productos/AgregarNuevoProveedores',
                            type: 'POST',
                            data: {
                                nombre: nombreProveedor.value,
                                telefono: telefono.value,
                                contactoAlternativo: Altercontacto.value
                            },
                            success: function (response) {
                                if (response.success) {
                                    Swal.fire({
                                        icon: 'success',
                                        title: '¡Proveedor agregado!',
                                        text: response.message,
                                        confirmButtonText: 'Aceptar'
                                    }).then((result) => {
                                        form.reset();
                                        form.classList.remove('was-validated');
                                    });
                                } else {
                                    if (response.errores.includes("telefono")) {
                                        telefono.classList.add('is-invalid');
                                    }
                                    if (response.errores.includes("nombre")) {
                                        nombreProveedor.classList.add('is-invalid');
                                    }
                                    if (response.errores.includes("alternativo")) {
                                        Altercontacto.classList.add('is-invalid');
                                    }
                                    Swal.fire({
                                        icon: 'error',
                                        title: 'Error',
                                        text: response.message,
                                        confirmButtonText: 'Aceptar'
                                    });
                                }
                            },
                            error: function (error) {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error',
                                    text: 'Hubo un error al comunicarse con el servidor.',
                                    confirmButtonText: 'Aceptar'
                                });
                            }
                        });
                    }

                    form.classList.add('was-validated'); // Aplicar las clases de validación
                }, false);
            });
        })();

        document.getElementById('formulario_telefono').addEventListener('input', function (e) {
            var value = e.target.value.replace(/[^0-9]/g, '');

            if (value.length > 3) {
                value = value.substring(0, 3) + '-' + value.substring(3);
            }

            if (value.length > 7) {
                value = value.substring(0, 7) + '-' + value.substring(7);
            }

            if (value.length >= 13) {
                value = value.replace(/[-+]/g, '');
                var ultimos4 = value.substring(value.length - 4);
                value = value.substring(0, value.length - 4);
                var ultimos3 = value.substring(value.length - 3);
                value = value.substring(0, value.length - 3);
                var primeros3 = value.substring(value.length - 3);
                value = value.substring(0, value.length - 3);
                value = "+" + value + " " + primeros3 + "-" + ultimos3 + "-" + ultimos4;
            }
            e.target.value = value;
        });
        </script>
    <script>
        (function () {
          'use strict'

          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.querySelectorAll('.needs-validation')

          // Loop over them and prevent submission
          Array.prototype.slice.call(forms)
            .forEach(function (form) {
              form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                  event.preventDefault()
                  event.stopPropagation()
                }

                form.classList.add('was-validated')
              }, false)
            })
        })()
    </script>
}
